<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
<h1>record success</h1>

<h1>view data</h1>
<table>
    <thead>
        <tr>
            <th>name</th>
            <th>age</th>
            <th>dob</th>
            <th>gender</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.dob}}</td>
            <td>{{i.gender}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/"><button type="button">back</button></a>
</body>
</html>



