<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/s.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<h1>{{city}}</h1>

<div class="row">
    <section>

        <div class="wrapper">
            <div class="input-part">
            <form action="/result" method="post">
                <input type="text" placeholder="Enter city" name="city" class="input-field">
                <i class="bx bx-search"></i>
                <button>GET WEATHER</button>
            </form>
            </div>
        </div>
        <div class="weather">
            <img src="https://openweathermap.org/img/wn/{{icon}}@2x.png" alt="WeatherIcon">
            <h1 class="temp">temperature:{{temp}}</h1>
            <h1 class="weather">weather:{{weather}}</h1>
            <h1 class="humidity">humidity:{{hmd}}</h1>
            <div class="flex">

            </div>
        </div>

    </section>
</div>
</body>
</html>